@use "@/sass/globals/variables";
@use "@/sass/globals/mixin";

.counter-container {
  display: grid;
  place-content: center;
  height: 100dvh;

  & > .contents {
    width: fit-content;
    text-align: center;

    & > * + * {
      margin-top: 1rem;
    }

    & > button {
      @include mixin.button;
      width: auto;
      display: block;
      margin-inline: auto;
    }
  }
}
