@use "../../sass/globals/variables";
@use "../../sass/globals/mixin";

.form-wrapper {
  width: min(25rem, 90%);
  & > #login-title {
    text-align: center;
    padding: 1rem;
  }

  & > img {
    width: min(15rem, 90%);
    height: auto;
    margin-inline: auto;
    display: block;
    padding-bottom: 1rem;
  }

  & > form {
    input[type="password"] {
      margin: 1rem 0;
    }

    & > input {
      @include mixin.inputField;
    }

    & > button {
      @include mixin.button;
    }
  }

  & > #register-cta {
    width: fit-content;
    display: block;
    margin-inline: auto;
    margin-top: 1rem;
    cursor: pointer;
  }
}
